<section class="wrapper">
      <section class="header">
<!--     could have used header tag-->
			<p><b><I>PHOTO GALLERY</I></b></p>
      </section>
      <section class="gallery">
    	 	<ul>
					<li><a><%= image_tag "1.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "2.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "3.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "4.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "5.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "6.JPG", :class=> "pics" %></a></li>
					<li><a><%= image_tag "7.JPG", :class=> "pics" %></a></li>
				</ul>

      </section>
<!--      could have used footer tag-->
      <section class="footer">
      	<p><i>All rights reserved by @ Dinesh and Grishma (BCT064)<i></p>
      </section>
    </section>
    <section>
    <% @comment.each do |t| %>
      <%= t.comment%>
    <%end%>
    </section>
